# All Pandas Commands

In [1]:
# Imports
import numpy as np
import pandas as pd

### (1) DataFrame Creation

#### (1) Creation via external file : CSV

In [5]:
# Dataframe creation from csv
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

#### (1) Creation via python dictionary

In [6]:
# Dataframe creation from python dictionary
weather_data = {
                'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
                'temprature':[32,35,28,24,32,31],
                'windspeed':[6,7,2,7,4,2],
                'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}

df = pd.DataFrame(weather_data)

df

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

#### Dataframe Operations

##### (1) Read

In [7]:
df
rows,cols = df.shape

rows,cols

(6, 4)

##### Dataframe rows access

In [49]:
df

print(df[2:5])

# Print everything
df
# or
print(df[:])

        day  temprature  windspeed event
2  1/3/2017          28          2  Snow
3  1/4/2017          24          7  Snow
4  1/5/2017          32          4  Rain
        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow
3  1/4/2017          24          7   Snow
4  1/5/2017          32          4   Rain
5  1/6/2017          31          2  Sunny

In [50]:
# Dataframe rows datatype
type(df[1:2])

pandas.core.frame.DataFrame

In [34]:
##### Dataframe cols access

In [35]:
df.columns

Index(['day', 'temprature', 'windspeed', 'event'], dtype='object')

In [37]:
# Accessing individual cols

In [43]:
print(df.day)
print(df.temprature)

# Or 
print(df['day'])
print(df['temprature'])

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0    32
1    35
2    28
3    24
4    32
5    31
Name: temprature, dtype: int64
0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object
0    32
1    35
2    28
3    24
4    32
5    31
Name: temprature, dtype: int64

In [48]:
# Column data type : Pands series

In [51]:
type(df.event)

pandas.core.series.Series

##### Accessing More than one columns

In [59]:
# accessing more than one columns
print(df[['temprature','event']])

   temprature  event
0          32   Rain
1          35  Sunny
2          28   Snow
3          24   Snow
4          32   Rain
5          31  Sunny

##### Find the Max temprature

In [64]:
df['temprature'].max()
#

35

In [66]:
# Measures of central tendency

In [81]:
df['temprature'].describe()
# Or
df.temprature.describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temprature, dtype: float64

In [72]:
# Measures of central tendency for all the parameters

In [77]:
df.describe()

       temprature  windspeed
count    6.000000   6.000000
mean    30.333333   4.666667
std      3.829708   2.338090
min     24.000000   2.000000
25%     28.750000   2.500000
50%     31.500000   5.000000
75%     32.000000   6.750000
max     35.000000   7.000000

### Select conditionaly like SQL ; select * where temp=max(temp)

In [84]:
df[df.temprature==df.temprature.max()]

        day  temprature  windspeed  event
1  1/2/2017          35          7  Sunny

### Select few columns(not *) only like SQL ; select day,windspeed where temp=max(temp)

In [91]:
df[['day','windspeed']][df.temprature==df.temprature.max()]

        day  windspeed
1  1/2/2017          7

# Indexing

In [98]:
df.set_index('day',inplace=True)
df

KeyError: "None of ['day'] are in the columns"

In [108]:
df.index
df

# Indexes data can be used to locate the row
df.reset_index(inplace=True)

In [104]:
# Let see what happens if we access a non indexed column with .loc

In [111]:
df.index

df.loc['Snow']

KeyError: 'Snow'

In [120]:
# Let's fix the error ;KeyError: 'Snow'

df.set_index('event',inplace=True)

# Let's access via 'Snow'
df.loc['Snow']

KeyError: "None of ['event'] are in the columns"

In [121]:
# The End!