# Different ways of DataFrame creation

#### Documentation : google pandas I/O

In [2]:
# Import required libraries

In [5]:
import numpy as np
import pandas as pd

In [7]:
#### Way 1 : Using CSV

In [12]:
df = pd.read_csv('weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [14]:
# Way 2 : Using xlsx

In [17]:
df_excel = pd.read_excel('weather_data.xlsx')
df_excel

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [19]:
# Way 3 : Using Python Dictionary

In [23]:
weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017'],
    'temprature' : [32,35,28],
    'windspeed' : [6,7,2],
    'event' : ['Rain','Sunny','Snow']
}

df_dict = pd.DataFrame(weather_data)

df_dict

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow

In [24]:
# Way 4 : Using python tuples

In [31]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

df_tuples = pd.DataFrame(weather_data,columns=['day','temprature','windspeed','event'])
df_tuples

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow

In [32]:
# Way 5 : Using list of dictionaries

In [36]:
weather_data = [
    {'day' : '1/1/2017','temprature' : 32,'windspeed' : 6,'event' : 'Rain'},
    {'day' : '1/2/2017','temprature' : 35,'windspeed' : 7,'event' : 'Sunny'},
    {'day' : '1/3/2017','temprature' : 28,'windspeed' : 2,'event' : 'Snow'}
]

df_list_of_dicts = pd.DataFrame(weather_data)

df_list_of_dicts

        day  temprature  windspeed  event
0  1/1/2017          32          6   Rain
1  1/2/2017          35          7  Sunny
2  1/3/2017          28          2   Snow